doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Northern Circulation Route List Summary
        link(rel='stylesheet' href='./satstyles.css') 

    body
        div(class='main-background')
            div(class='header-region')
                h1(class='title') #{Day} Route List Summary
                p(class='date') <strong>Date:</strong> #{Date}
                p(class='bulk-size') <strong>Bulk Size:</strong> #{BulkSize}
                p(class='publication') <strong>Publication:</strong> #{PublicationCode}
            div(class='data-region')
                each route, i in RouteData
                    table(class='tg')
                        thead
                            tr
                                td(class='route' rowspan='3')= route.Route 
                                td(class='label') Supply:
                                td(class='value')= route.Supply 
                            tr
                                td(class='label') Bulk:
                                td(class='value')= Math.floor(route.Supply/BulkSize)
                            tr
                                td(class='label') Odds:
                                td(class='value')= route.Supply % BulkSize
                table(class='tg')
                        thead
                            tr
                                td(class='route' rowspan='3') TOTALS
                                td(class='label') Supply:
                                td(class='value')= TruckTotal
                            tr
                                td(class='label') Bulk:
                                td(class='value')= Math.floor(TruckTotal/BulkSize)
                            tr
                                td(class='label') Odds:
                                td(class='value')= TruckTotal % BulkSize
                if Day == 'Saturday'
                    table(class='tg')
                        thead
                            tr
                                td(class='route' rowspan='3') TRUCKS
                                td(class='label') Truck1:
                                td(class='value')= Truck1
                            tr
                                td(class='label') Truck2:
                                td(class='value')= Truck2
                            

                

                  
